html{
    scroll-behavior: smooth;
}

:root{
    --azul20: #232946;
    --azul10: #B8C1EC; 
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--azul20);
    max-inline-size: 820px;
    margin: auto;
}

.menu a{
    text-decoration: none;
    color: var(--azul10);
    
}

.menu li{
    color: var(--azul10);
}

.menu a:hover{
    color:#FFFFFE;
}

summary{
    color: #FFFFFE;
    font-weight: bold;
}

details li{
    line-height: 30px;
    
}

p{
    color: var(--azul10);
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    margin-block-start: 16px;
    margin-block-end: 0;
}

h1{
    color: #FFFFFE;
    font-size: 64px;
    margin-block-end: 16px;
}

hr{
    background-color: #616161;
    margin-block-start: 58px;
}

h2{
    color: #FFFFFE;
    font-size: 40px;
    margin-block-end: 0;
}

h3{
    color: #FFFFFE;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}

.img{
    margin-block-start: 40px;
    margin-block-end: 16px;
}


pre{
    font-family: "Montserrat", sans-serif;
    color: #FFFFFE;
    
}

blockquote{
    background-color: #D4939D;
    border-radius: 8px;
}

blockquote p{
    color: var(--azul20);
    font-weight: 400px;
    line-height: 32px;
    font-size: 24px;
    padding: 24px;
}
