html{
    scroll-behavior: smooth;
}

:root{
    --azul20: #232946;
    --azul10: #B8C1EC; 
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--azul20);
    margin: auto;
}

.wrapper{
    max-inline-size: 820px;
    margin: auto;
}
   


.menu a{
    text-decoration: none;
    color: var(--azul10);
    
}

.menu li{
    color: var(--azul10);
    
}

ol li{
    color: var(--azul10);
}

ul li{
    color: var(--azul10);
}

.menu a:hover{
    color:#FFFFFE;
}

summary{
    color: #FFFFFE;
    font-weight: bold;
    line-height: 24px;
}

.contenedor{
    inline-size: 230px;
    margin-block-start: 7px;
}

details li{
    line-height: 30px;
    
}

p{
    color: var(--azul10);
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    margin-block-start: 16px;
    margin-block-end: 0;
}

h1{
    color: #FFFFFE;
    font-size: 64px;
    margin-block-end: 16px;
    margin-block-start: 15px;
}

hr{
    background-color: #616161;
    margin-block-start: 58px;
    margin-block-end: 0;
}

.content1 h2{
    margin-block-start: 40px;
    margin-block-end: 40px;
}

.content1 h3{
    margin-block-start: 16px;
    margin-block-end: 16px;
    position: sticky;
    top: 0;
    background-color: var(--azul20);
    border: 1px solid var(--azul20);

}

.content1 h3{
    counter-increment: titleList;
}

.content1 h3::before{
    content: counter(titleList, decimal) '. ';
}

.content1 p{
    margin-block-end: 40px;
}

h2{
    color: #FFFFFE;
    font-size: 40px;
    margin-block-end: 0;
}

h3{
    color: #FFFFFE;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}

#img{
    max-inline-size: 820px;
    margin: auto;
    margin-block-end: 40px;
}

#img2{
    max-inline-size: 820px;
    margin: auto;
    margin-block-end: 80px;
    margin-block-start: 0;
}

#css{
    margin-block-end: 16px;
}

.content h2{
    margin-block-start: 30px;
}

.content img{
    display: block;
  max-inline-size: 100%;
}


pre{
    font-family: "Montserrat", sans-serif;
    color: #FFFFFE;
    padding: 40px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}


blockquote{
    background-color: #D4939D;
    border-radius: 8px;
    margin-block-start: 58px;
}

blockquote p{
    color: var(--azul20);
    font-weight: 400px;
    line-height: 32px;
    font-size: 24px;
    padding: 24px;
    display: inline-block;
    margin: 0;
}

blockquote span{
    margin-block-start: 16px;
    
}

.content2 h2{
    margin-block-start: 0;
    margin-block-end: 40px;
    position: sticky;
    top: 0;
    background-color: var(--azul20);
    border: 1px solid var(--azul20);
}

.content h2{
    margin-block-end: 40px;
}

.content2 h3{
    margin-block-end: 16px;
    margin-block-start: 40px;
}

.content h3{
    position: sticky;
    top: 0;
    background-color: var(--azul20);
    border: 1px solid var(--azul20);
}

.content p{
    margin-block-end: 40px;
}

#p{
    margin-block-end: 0;
}

#p1{
    margin-block-start: 16px;
}

.content2 ol li{
    line-height: 24px;
    font-size: 17px;
}

.content2 ul li{
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.slider-container{
    /* border: 10px solid green; */
    font-size: 0;
    white-space: nowrap;
    overflow: auto;
    scroll-behavior: smooth;
    display: block
    
}

.video{
    /* border: 1px solid yellow; */
    margin: 0;
    /* border: 1px solid yellow; */
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list{
    text-align: center;
    margin-block-start: 16px;
    margin-block-end: 40px;
}

.slider-bullet{
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    inline-size: 16px;
    block-size: 16px;
}

#bullet{
    margin-inline-start: 8px;
    margin-inline-end: 8px;
}

.escríbeme{
    color: #FFFFFE;
}

span a{
    color: #EEBBC3;
}

.content-form{
    margin-block-start: 16px;
}

.form input{
    background-color: var(--azul20);
    padding-inline: 16px;
    padding-block: 12px;
    inline-size: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #FFFFFE;
    color: #FFFFFE;
    font-size: 16px;
    display: block;
    margin-block: 24px;
}

.form ::-webkit-input-placeholder{
    color: #FFFFFE;
    font-family: "Montserrat", sans-serif;
}

.form input[type="submit"]{
    color: #232946;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border: none;
    background-color: #EEBBC3;
    
}

.content-footer{
    height: 125px;
    background-color: #EEBBC3;
    margin-block-start: 80px;
}


.footer p{
    color: #232946;
    font-weight: 400px;
    font-size: 32px;
}

.footer{
    text-align: center;
    margin-block-start: 48px;
}

.footer span{
    margin-inline: 16px;
}

.logos{
    /* border: 2px solid red; */
    margin-block-start: 16px;
}





